<ng-container>

    <app-header></app-header>
    <div class="container"> 
        <div class="row">
            <div class="col-lg-7">
                <img src="../assets/todo.png" alt="clip art" class="img-fluid">g
            </div>
            <div class="col-lg-5 mt-5">
                <app-todo-form></app-todo-form>
                <app-todos></app-todos>
                <div class="mt-5">
                    <h3>Completed Task</h3>
                    <app-completed-task></app-completed-task>
                </div>
            </div>
        </div>



    </div>
</ng-container>